In [ ]:
#data types in python
#1 integer (immutable-->non chnagable in nature data type,base-0,1,,,,9)
#base represents that we should input the values which present in the base range
x=1
print(x)
type(x)

1

int

In [ ]:
x,y,z=1,2,3
print(x,y,z)

1 2 3

In [ ]:
#2 Float data type (immutable) under this we have 4 types
#Decimal  (base-0,1,2,,,9)
d=4.542
print(d)
type(d)

4.542

float

In [ ]:
#Binary (base-0,1)
b=0B0110
print(b);

6

In [ ]:
#octal (base-0,1,2,,7)
o=0O125
print(o);
o=0O1101
print(o)

85
577

In [ ]:
#hexa (base-0,1,2,,,9 and a,b,c,,,,f)
h=0xabf
print(h)
h1=0x123
print(h1)

2751
291

In [ ]:
#3 Boolean data  ; it takes values True and False only and it's immutable
x=True   # if give x='True' like this ,python will consider this as string.
print(x)
type(x);
y=False
print(y)
type(y)

True
False

bool

In [ ]:
#4complex data ,  takes values like a+bj and its immutable
x=10+20j
y=5+10j
print(x)
print(y)
print(x+y)
type(x)

(10+20j)
(5+10j)
(15+30j)

complex

In [ ]:
#5 String data  , any characters which should be given by using codes i.e.., '' and it's immutable
x='Lokesha p'
print(x)
type(x)

Lokesha p

str

In [ ]:
#6 Bytes data , bytes must be in the range of 0 and 256 and it's immutable
b=20
bytes(b)
bytes(10)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [ ]:
x=[10,20,30]
y=bytes(x)
for i in y:print(i)
print(y)
type(y)

10
20
30
b'\n\x14\x1e'

bytes

In [ ]:
#7 Bytearray data ,  it'a mutable
bytearray(124)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [ ]:
x=[5,10,15,20]
y=bytearray(y)
for i in y:print(i)
type(y)

10
20
30

bytearray

In [ ]:
x=[5,10,15,20]
y=bytearray(y)
y[0]=100   #we can assign new value in the place of existing one (since data is mutable)
y[2]=125
for i in y:print(i)

100
20
125

In [ ]:
#8 List data , we use [] to input the values and its mutable 
x=['lokesha',100,200,10,100,'suray prakash']#does not allows duplicate values
print(x)
type(x);

['lokesha', 100, 200, 10, 100, 'suray prakash']
[3, 2, 1]

In [ ]:
x=['lokesha',100,200,10,100,'suray prakash']
x[2]='jashmitha'  #which changes the existing record  
x.append(356) #to add new value in the existing list
print(x)

['lokesha', 100, 'jashmitha', 10, 100, 'suray prakash', 356]

In [ ]:
#9 Tuple data ,we use () to input the values and its immutable
x=('loki',10,'praju',5,'nithi',5)
print(x)
type(x)

('loki', 10, 'praju', 5, 'nithi', 5)

tuple

In [ ]:
x=('loki',10,'praju',5,'nithi')
x[0]='loka'
x.appent(125)  #will shows error because its immutable data type
print(x)

TypeError: ignored

In [ ]:
#10 Range data ,represents sequence of values and it's immutable
x=range(10)
print(x)

range(0, 10)

In [ ]:
z=range(0,50,5)
for i in z:print(i)

0
5
10
15
20
25
30
35
40
45

In [ ]:
#11 Set data , used for inputting duplicates values  and we use {} 
x={1,2,3,4,5}
print(x)
type(x);

{1, 2, 3, 4, 5}

In [ ]:
#12 Frozen data type ,immutable
x={1,2,3}
fx=frozenset(x)
print(fx)
type(fx)

frozenset({1, 2, 3})

frozenset

In [ ]:
#13 Decimals data type ,its a mutable data type #we use this where want to input key words
d={100:'loka',200:'sunil'}
print(d)
type(d)

{100: 'loka', 200: 'sunil'}

dict