In [ ]:
#there are 3 types of flow control
#1 Conditional statement or selection statement
#based on some conditions some actions will takes place

In [ ]:
#examples
#write a program if name is durga then say hi durga ,good morning if is not ,say hi bro good morning.
name=input("Enter a name:")
if name=="durga":
  print("Hi durga",end=" ")
else:
  print("Hi bro",end=" ")
print("good morning",end=" ")

Enter a name:loka
Hi bro good morning

In [ ]:
#for the same program entering name as durga
name=input("Enter a name:")
if name=="durga":
  print("Hi durga",end=" ")
else:
  print("Hi bro",end=" ")
print("good morning",end=" ")

Enter a name:durga
Hi durga good morning

In [ ]:
#write a program to distinguish a marks as fail,pass,first class and distinction
marks=int(input("Enter a marks:"))
if marks>=90:
  print("distinction")
elif marks>=60 and marks<90:
  print("First class")
elif marks<60 and marks>=40:
  print("pass")
else:
  print("fail")

Enter a marks:92
distinction

In [ ]:
#write code to chech weather the given number 'n' is lies between 'n1' and 'n2'
n1=int(input("enter n1:"))
n2=int(input("enter n2:"))
n=int(input("enter n:"))
if n1<=n<=n2:
  print("the number {} is lies between {} and {}".format(n,n1,n2))
else:
     print("the number {} is not lies between {} and {}".format(n,n1,n2))

enter n1:2
enter n2:10
enter n:5
the number 5 is lies between 2 and 10

Enter a charactor:l
Enter another charactor6

In [ ]:
#2 Iterative statment -->for each element in a sequence do some action
#! for loop (when number of iterations is pre defined or known)
#write a program to get  each charactors in "data science"
dat="data science"
for charactor in dat:
  print(charactor)

d
a
t
a

s
c
i
e
n
c
e

In [ ]:
#for each element in mathematics count the element by increment 
element="mathematics"
i=1
for x in element:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
#write a program which shows that the charactor present at index 'i' is 'c'  (i=index and c=charactor)
sub="statistics"
i=1
for c in sub:
  print("the charactor present at index {} is {}".format(i,c))
  i+=1

the charactor present at index 1 is s
the charactor present at index 2 is t
the charactor present at index 3 is a
the charactor present at index 4 is t
the charactor present at index 5 is i
the charactor present at index 6 is s
the charactor present at index 7 is t
the charactor present at index 8 is i
the charactor present at index 9 is c
the charactor present at index 10 is s

In [ ]:
#print hello 10 times using for loop
for x in range(10):
  print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
#print even number from n1 to n2 using keyboard
n1=int(input("enter number"))
n2=int(input("enter number"))
for x in range(n1,n2+1):
 if x%2==0:
   print(x)

enter number2
enter number50
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:

#while loop (when number of iteration is unknown)
x=1
while x<=10:
 print(x)
 x=x+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#find the sum of first n natural numbers use by keyboard
n=int(input("Enter number:"))
sum=0
i=1
while i<=n:
  sum+=i
  i+=1
print("the first {} natural number is {}".format(n,sum))

Enter number:2
the first 2 natural number is 3

In [ ]:
n=int(input("Enter number:"))
sum=0
i=1
while i<=n:
  sum+=i
  i+=1
  print("the first {} natural number is {}".format(i-1,sum))

Enter number:5
the first 1 natural number is 1
the first 2 natural number is 3
the first 3 natural number is 6
the first 4 natural number is 10
the first 5 natural number is 15

In [ ]:
 #write code ,if input letter belongs to statistics then print letter is in statistics otherwise ask to re enter until the input letter is in statistics
 x= "statistics"
 l=input("enter a letter:")
while l not in x:
  l=input("enter other value:")
print("letter belongs to x")

enter a letter:p
enter other value:d
enter other value:b
enter other value:a
letter belongs to x

In [ ]:
#Nested loop -->loop inside the other loop
n=int(input("Enter row number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

Enter row number:5
*
**
***
****
*****

In [ ]:
#or
n=int(input("enter a number:"))
for i in range(1,n+1):
  print("*"*i)

enter a number:5
*
**
***
****
*****

In [ ]:
n=int(input("Enter row number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*"*j) 
  print()

Enter row number:5
*

*
**

*
**
***

*
**
***
****

*
**
***
****
*****

In [ ]:
n=int(input("enter a number:"))
for i in range(n):
  print("*"*n)

enter a number:3
***
***
***

In [ ]:
#or
n=int(input("enter a number:"))
for i in range(n):
  for j in range(n):
    print("*",end="")
  print()

enter a number:3
***
***
***

In [ ]:
#Transer statement --> does something for loops
#1 break statement
i=1
while i>0: #infinite loop 
  i+=1
  print("*")
  if i==10: #breaks the infinite loop
    break

*
*
*
*
*
*
*
*
*

In [ ]:
cart=[10,20,30,100,60,90]
for item in cart:
  if item>=100:
    print("the insurance must be required:",item)
    break
  print("the proccessing item is",item)

the proccessing item is 10
the proccessing item is 20
the proccessing item is 30
the insurance must be required: 100

In [ ]:
#2 continue statement -->to skip the current iteration and go for the next
for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
cart=[10,20,30,100,60,90,120,35,350]
for item in cart:
  if item>=100:
    print("the insurance must be required:",100)
    continue
  print("the proccessing item is",item)

the proccessing item is 10
the proccessing item is 20
the proccessing item is 30
the insurance must be required: 100
the proccessing item is 60
the proccessing item is 90
the insurance must be required: 100
the proccessing item is 35
the insurance must be required: 100

In [ ]:
cart=[10,20,30,50]
for item in cart:
  if item>=100:
    print("the insurance must be required:",100)
    break
  else:#loop free from break
    print("all items are under 100")

all items are under 100
all items are under 100
all items are under 100
all items are under 100

In [ ]:
#3 pass statement--> is a keyword in phython used to pass the condition without stating a statement
for i in range(10):
  if i%2==0:
    print(i)
  else:
    pass

0
2
4
6
8

In [ ]:
# del function used to delete the existing data
x=10
y=5
z=20
print(x+y+z)
del x
print(x+y+z) # not valid since we delete the varible x

35

NameError: ignored

In [ ]:
s="durga"
print(s[0:5])
print(s[0:2])
print(s[:])

durga
du
durga

In [ ]:
#del cannot delete the function call
s="durga"
print(id(s))
del id(s)

SyntaxError: ignored

In [ ]:
#we can delete function by call it as a variable
s="durga"
a=id(s)
a
del a