In [ ]:
#1Arithmetic operator
a=10
b=2
print("addition:",a+b)
print("subtraction:",a-b)
print("divition:",a/b)
print("multiplication:",a*b)
print("float divition:",a//b) # otput will be integer iff inputs are integers otherwise float if atleast any one of the inputs are float . 
print("exponential or a power b:",a**b)

addition: 12
subtraction: 8
divition: 5.0
multiplication: 20
float divition: 5
exponential or a power b: 100

In [ ]:
a='lokesha'
b='p'
print(a+b)
print(a*3)  #note 3*a not allowed
print((20+20j)**(30+15j))
print((20+20j)*(30+15j))

lokeshap
lokeshalokeshalokesha
(-3.51252167218489e+37-2.668132181662945e+38j)
(300+900j)

In [ ]:
#2 Relational operator #output will be boolean type
a=2
b=4
print("a>b:",a>b)
print("a>=b:",a>=b)
print("a<b:",a<b)
print("a<=b:",a<=b)

a>b: False
a>=b: False
a<b: True
a<=b: True

In [ ]:
a=10
b=20
a<b

True

In [ ]:
a=True   #here true takes the value 0 and 1 for false
b=False
a>b

True

In [ ]:
x=15
y=20
if (x>y):
 print("x is greater than y") #this line must not be  idented otherwise the sentence not under the condition statement  (spacing is important)
else:
 print("x is not greater than y")

x is not greater than y

In [ ]:
10<20>10<10 #chain relation

False

In [ ]:
#3 Eqality operator
a=1
b=2
print("a is equal to b:",a==b)
print("a is not equal to b:",a!=b)

a is equal to b: False
a is not equal to b: True

In [ ]:
a=15
b=20
if a==b:print("a=b")
else:print("a not equal to b")

a not equal to b

In [ ]:
#4 Logical operators  and,or,and not
# and logic--> if 'x' evaluates to false ,result will be 'x' otherwise 'y'
# or logic--> if 'x' evaluates to true ,result will be 'x' otherwise 'y'
# not logic--> if 'x' evaluates to true ,result will be false otherwise true
# zero and emty string represents false ,non zero represents true

#on boolean type
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print(True or True)
print(True or False)
print(False or True)
print(False or False)
print(not True)
print(not False)

True
False
False
False
True
True
True
False
False
True

In [ ]:
#non b0olean types
print(10 and 20)
print(0 and 20)
print('' and 50)
print(10 or 20)
print(0 or 20)
print('' or 50)
print(not 10)
print(not 0)
print(not '')

20
0

10
20
50
False
True
True

In [ ]:
#5 Bitwise operator 
#'&' bitwise operator ,if both the bits are same then 1 otherwise 0
#'|' bitwise operator ,if atleat one bit is 1 then 1 otherwise 0
#'^' bitwise operator ,if both the bits are different then 1 otherwise 0
#'~' bitwise operator ,1 is replaced by 0 and 0 is replaced by 1
print(4&5)
print(4|5)
print(4^5)
print(~4)
print(~5)

4
5
1
-5
-6

In [ ]:
#7 Shift operator 
#<< left shit operator
a=10
b=2
print(a<<b) #right hand side vacant cell filled with zeros
print(a>>b) # left hand side vacant cell filled with zero if bit value is positive otherwise filled with 1

40
2

In [ ]:
#8 Assignment operators
y=15
x=10
x+=2  # that is x=x+2
print(x)
y**=2
print(y)

12
225

In [ ]:
#9 Ternary operators 
a=20
b=50
c=60
min=a if a<b else b
print("minimum value is",min)
print("a is minimum" if a<b else "a is maximum")

minimum value is 20
a is minimum

In [ ]:
a=int(input("enter the value:"))
b=int(input("enter the value:"))
min=a if a<b else b
print("minimum value is",min)

enter the value:20
enter the value:10
minimum value is 10

In [ ]:
#10 Special operators
#1Identity operators -->used for comparing purposes like content(== and !=),adress(is and is not) etc
a=10
b=10
c=15
print(id(a)) #adress command
print(id(b))
print(id(c))
print(a is b)
print(b is c)
print(a is not b)

11256352
11256352
11256512
True
False
False

In [ ]:
a=10
b=10
c=15
print(a==b)
print(a!=b)
print(a!=c)

True
False
True

In [ ]:
#2 membership operator --. to check wheather the object is present or not
list=[10,20,30]
s="Hoe are you"
print(10 in list)
print(10 not in list)
print('H' in s)
print('L' in s) #output will be false since python is case sensitive
print(' ' in s)

True
False
True
False
True